// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

h1
  line-height: 1.4

img
  max-height: 80%
  max-width: 80%

.anatomy
  // https://www.flickr.com/photos/internetarchivebookimages/20344972145
  background: no-repeat center/100% url('../images/anatomy.jpg');


.box
  background-color bgcolor
  color #3F0B1B
  padding 10px 30px 15px 30px
  display flex
  flex-direction column
  align-items center
  justify-content center

.credit
  background-color bgcolor
  font-size 10px
  position absolute
  left 20px
  bottom -5px

.credit, .credit a
  color: #666

.nobullets li
  list-style none
  margin-bottom 30px

